<html>
<head>
    <meta charset="utf-8"/>
    <title>Детектор транспорта</title>
{#    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" media="screen">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}" media="screen">#}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.css') }}" media="screen">
{#    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}" media="screen">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='prettify.css') }}" media="screen">#}
{#    <link rel="stylesheet" href="{{ url_for('static', filename='style_modal.css') }}" media="screen">#}
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">
    <!--link rel="stylesheet" href="../style.css" media="all"-->
    <script src="{{ url_for('static', filename='raphael.min.js') }}"></script>
    <script src="{{ url_for('static', filename='poly.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script type=text/javascript src="{{ url_for('static', filename='detector.js') }}"></script>
    <script src="{{ url_for('static', filename='hls.js') }}"></script>
    <!-- <script type=text/javascript src="{{ url_for('static', filename='transform.js') }}"></script> -->
</head>
<body>
<div id="logo"><img src="{{ url_for('static', filename='logo.png') }}" style="width:100px;height:33px;margin-left:50px;position: absolute;"/></div>
<h1 style="text-align: center; margin-bottom: 2px; font:22px Arial, Helvetica, sans-serif;font-weight:bold;position: relative;float:top">
  Детектор транспорта - {{ ipStatus.ip }}
</h1>
<h2 id="compression_mode_header" style="text-align: center; margin-bottom: 2px; font:14px Arial, Helvetica, sans-serif;position: relative;float:top">
    Режим сжатого потока
</h2>
<!-- Предупреждалки о режимах работы  -->
<div id="zeroPolyAlert" style="text-align: center; margin-bottom: 4px; font:12px Arial, Helvetica, sans-serif;font-weight:bold;"></div>
<div id="editModeAlert" style="text-align: center; font:12px Arial, Helvetica, sans-serif;font-weight:bold;"></div>

<!--центральный блок-->
<div id="centr_block" style="position: relative; text-align: center; top: 10px; left: 50px; width: 930px" class="container">
  <!--div id="centr_block" style="position: relative; text-align: center;float: top; top: 10px; left: 50px; width: 950px"-->

    <!-- слой картинки -->
    <!--div id="img_div" style="float:left; top: 70px; left: 50px; width:800px;height:600px;position: absolute"-->
    <div id="img_div" style="float:left; top: 0px; left: 0px; width:800px; height:600px; position: absolute">
      <!--div class="block1"-->
      <!--img id="pict" style="width:100%;height:100%"/-->
        <video onloadeddata="this.play();" id="video" style="width:100%;height:100%;visibility:visible;" muted></video>
        <img id="mjpeg" src="{{ url_for('video_feed') }}" style="width:100%;height:100%;visibility:hidden;">
      <!--<img src="" style="vertical-align: middle; text-align: center;float:top;width:100%;height:100%">-->
      <!--img id ="pict" style="width:100%;height:100%"/-->
    </div>

    <!-- слой рисования -->
    <!--div id="holder" style="top: 10px; left: 50px; width:800px; height:600px; position: absolute"-->
    <div id="holder" style="top: 0px; left: 0px; width:800px; height:600px; position: absolute">
    </div>  
    <div id="holderCalibr" style="top: 0px; left: 0px; width:800px; height:600px; position: absolute; visibility:hidden">
    </div>  
    
    <!--слой элементов управления справа от картинки-->
    <!-- <div style="float:right; left: 20px; width:100px;height:100px;position: relative"-->
        <!--слой с таблицей для показа сколько машин проехало за минуту и за час-->
        <!-- <div id="tsNumberTable" style="float:top; width:100px; position: relative">
        </div>  -->

    <!--кнопки справа от картинки -->
    <!-- <div style="float:top ; margin-top: 20px; position: relative;"> -->
    <div style="float: right; left: 1px; top: 0px; width:100px;height:100px;position: relative">
        <p><button style="width:178px" type="button" id="editButton" value="Редактировать" class="btn btn-primary">Редактировать</button></p>
        <p><button style="width:178px" type="button" id="delButton" value="Удалить все" class="btn btn-primary" disabled="true">Удалить зоны</button></p>
        <!-- <input type="button" name="camSettingsButton" id="camSettingsButton" value="Настройки детектора" class="button"/><br> -->
        <!-- Кнопка, вызывающее модальное окно -->
        <p><a style="width:178px" href="#settings_modal" class="btn btn-primary" data-toggle="modal">Настройки детектора</a></p>
        <a style="width:178px" href="#help_modal" class="btn btn-primary" data-toggle="modal">Справка</a><br><br>
        <a style="width:178px; margin-top: 20px; visibility:hidden" id="saveCalibButton" type="button" class="btn btn-default" >Сохранить калибровку</a><br><br>
        <!--input type="button" name="helpButton" id="helpButton" value="Справка" class="button"/><br><br-->
        <!--input name="inp1" type="text" value= "30"><br>
        <input id="" name="btn2" style="visibility:visible;" type="submit" value="GO" class="button"/-->
        <span id="polyData" style="visibility:hidden; font:10px Arial, Helvetica, sans-serif;">hidden</span><br><br>
        <span id="hub_Data" style="visibility:hidden; font:10px Arial, Helvetica, sans-serif;">hubData</span><br><br>
        <!--img id ="pict2" style="width:50px;height:50px" title="Подсказка"-->
    </div>
    <br>
    <div id="settings_modal" class="modal fade" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Настройки IP</h4>
          </div>
          <div class="modal-body">
              <form method="post" id="settinsForm"></form>
              <table class="table" style="text-align: left; font:14px Arial, Helvetica, sans-serif;" border="0" cellpadding="1" cellspacing="1">
            <tbody>
              <tr>
                <td style="width:500px">IP адрес камеры:</td>
                            <!--required pattern='#^[0-9]+$#'-->
                <td><input style="width:120px" class="" form="settinsForm" id="ip_address" name="ip" type="text" value= "{{ ipStatus.ip }}"
                                    pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}"></td>
              </tr>
              <tr>
                <td style="width:500px">Маска подсети:</td>
                <td><input style="width:120px" class="" form="settinsForm" id="ip_netmask" type="text" name="mask" value= "{{ ipStatus.mask }}"
                                    pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}"></td>
              </tr>
              <tr>
                <td style="width:500px">IP адрес шлюза:</td>
                <td><input style="width:120px" class="" form="settinsForm" id="ip_address_gateway" type="text" name="gateway" value= "{{ ipStatus.gateway }}"
                                    pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}"></td>
              </tr>
              <tr>
                <td style="width:500px">IP адрес концентратора:</td>
                <td><input style="width:120px" class="" form="settinsForm" id="ip_address_hub" type="text" name="hub" value= "{{ ipStatus.hub }}"
                                    pattern="\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}"></td>
              </tr>
                        <tr>
                            <td></td><td></td>
                        </tr>
            </tbody>
          </table>

          </div>
          <div class="modal-header">
            <h4 class="modal-title">Параметры детектирования</h4>
          </div>
          <div class="modal-body">

          <table class="table" style="text-align: left; font:14px Arial, Helvetica, sans-serif;" border="0" cellpadding="1" cellspacing="1">
            <tbody>
              <tr>
                <td style="width:500px">Длина калибровочной зоны, м</td>
                            <!--required pattern='#^[0-9]+$#'-->
                <td><input style="width:100px" class="" type="text" id="calib_zone_length" 
                                value= "{{ settings.calib_zone_length }}"></td>
              </tr>
              <tr>
                <td style="width:500px">Ширина калибровочной зоны, м</td>
                <td><input style="width:100px" class="" type="text" id="calib_zone_width" 
                  value= "{{ settings.calib_zone_width }}"></td>
              </tr>
              <!-- <tr>
                <td style="width:500px">Порог срабатывания детектора движения, по умолчанию 30</td>
              </tr>
              <tr>
                <td style="width:500px">Гистерезис срабатывания детектора движения, по умолчанию 25</td>
              </tr> -->
              <tr>
                <td></td><td></td>
              </tr>
            </tbody>
          </table>
          </div>

          <div class="modal-body">
              <form method="post" id="calibrationForm"></form>
              <button id="calibrationButton" type="button" class="btn btn-default" data-dismiss="modal" value="Настроить расстояния">Настроить расстояния</button>
          </div>  

          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
            <button id="saveSettingsButton" type="button" class="btn btn-primary" >Сохранить изменения</button>
          </div>
        </div>
      </div>
    </div>
    <div id="help_modal" class="modal fade" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h4 class="modal-title">Справка</h4>
          </div>
          <div class="modal-body" style="font:12px Arial, Helvetica, sans-serif; text-align: left">
            <p>Для задания зон детектирования нажмите кнопку "Редактировать". Нарисуйте мышкой прямоугольник левым кликом и перетаскиванием. Измените его форму кликая и перетаскивая желтые квадраты по углам полигона.
                Двигайте полигон целиком кликом на нем и перетаскиванием. Аналогичным образом можно создать до 4-х полигонов на одну камеру. Двойной клик удаляет полигон.
                Номер полигона добавляется и удаляется автоматически. Редактировать можно как новые, так и ранее созданные полигоны. Сохраните изменения нажатием кнопки "Сохранить".</p>
                <p>Задайте направление движения кликом у края получившейся зоны детектирования. Стрелка покажет направление движения транспортного средства (ТС) в зоне. Повторный клик удалит направление.
                Детектироваться будут только те ТС, направления движения которых совпадают с заданными для этой зоны. Направлений может быть до 4-х. Если направления не заданы, или заданы все 4, детектируется любое движение в зоне.
                Включенный, сработавший детектор отображается зеленым цветом, несработавший - синим. </p>
                <p>Кнопка "Удалить все" удаляет все зоны детектирования, работает только в режиме редактирования.
                <p>Детектирование ТС производится искусственной нейронной сетью, различающей различные типы транспортных средств, Типы ТС нумеруются согласно приказу минтранса от 26.12.2018 N 479. 
                Для получения данных статистики проездов и параметров транспортного потока необходимо выполнить запрос в формате HTML/POST, подробнее см. "Руководство по эксплуатации". 
                <p>Для измерения скорости ТС в кадре необходимо задать длину и ширину калибровочного полигона. Калибровочный полигон отображается при нажатии кнопки "Настроить расстояния"
                в разделе "Настройки детектора". Клик на калибровочном полигоне отображает желтые квадраты на его углах, пертаскивая их, можно изменять калибровоочный полигон. Суть настройки в том, чтобы 
                расположить точки калибровочного полигона так, чтобы на дорожном полотне они представляли собой правильный прямоугольник. Используя дорожные конусы постройте из них правильный прямоугольник, 
                измерьте ширину и длину этого прямоугольника в метрах, в кадре совместите углы полигона с конусами. Закончив калибровку, нажмите на кнопку "Сохранить калибровку".
                Введите измеренную длину и ширину калибровочного полигона в разделе "Настройки детектора". Соханите изменения нажатием кнопки сохранения.
                Введите измеренную длину и ширину калибровочного полигона в разделе "Настройки детектора". Соханите изменения нажатием кнопки сохранения.
                <p>Кнопка "Настройки детектора" выводит таблицу параметров, которые задают настройки IP - адрес камеры, маску подсети, адрес шлюза по умолчанию, а также IP адрес концентратора.
                Измените параметры при необходимости, сохраните их кнопкой "Сохранить изменения" и закройте окно.</p>
                <p>Для сброса в заводские настройки IP:
                на плате, подключенной к GPIO порту есть кнопка сброса в настройки IP по умолчанию. Откройте крышку устройства и ажмите на нее на работающем устройстве,
                настройки установятся в следющие:<br>
                Ip адрес: 192.168.0.34<br>
                Маска подсети: 255.255.255.0<br>
                Шлюз по умолчанию: 192.168.0.254<br>
                Для более подробной информации, смотри "Руководство по эксплуатации".</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Закрыть</button>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Or if you want a more recent alpha version -->
<!-- <script src="https://cdn.jsdelivr.net/npm/hls.js@alpha"></script> -->

<script src="{{ url_for('static', filename='hls_player_settings.js') }}"></script>

<!-- video controls preload>
  <source src="/video/playlist.m3u8" type="application/x-mpegURL">
</video -->
</body>
</html>